python-dotenv
pandas
numpy
pymongo
certifi
scikit-learn
dill
pyaml
mlflow
xgboost
dagshub
fastapi
uvicorn
langchain
langchain-groq
fpdf
beautifulsoup4  # Corrected package name
requests
dnspython
regex
urllib3
pypickle
datetime
-e .
