python-dotenv
pandas
numpy
pymongo
certifi
scikit-learn
dill
pyaml
mlflow
xgboost
dagshub
fastapi
unicorn
langchain
langchain_groq
fpdf
bs4
requests
re
dnspython
regex
urllib3
pickle
python-dotenv
datetime
-e .
